<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">

        <center> <span class="brand-text font-weight-light"><img src="~/images/SELINUSLOGO.png" width="120" /></span></center>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <br />

        <!-- SidebarSearch Form -->
        @*<div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Ara" aria-label="Search" style="height:calc(1.75rem + 10px) !important;">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>*@

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                @if (!ViewBag.Admin)
                {

                    <!--HotSpotMenü Start-->
                    <li class="nav-item @(Context.Request.Path.Value == "/" || Context.Request.Path.Value == "/Kasa" || Context.Request.Path.Value == "/InternetSatis" || Context.Request.Path.Value == "/AktifKullanicilar" ? "menu-open" : "" )">
                        <a href="#" class="nav-link">
                            <i class="text-green nav-icon fas fa-cloud"></i>
                            <p>
                                Hotspot
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview" style="@(Context.Request.Path.Value == "/" || Context.Request.Path.Value == "/Kasa" || Context.Request.Path.Value == "/InternetSatis" || Context.Request.Path.Value == "/AktifKullanicilar" ? "display:block;" : "display:none;" )">

                            <li class="nav-item">
                                <a href="/InternetSatis" class="nav-link @(Context.Request.Path.Value == "/InternetSatis"  ? " bg-blue" : "" )">
                                    <i class="far fa fa-wifi nav-icon"></i>
                                    <p>
                                        İnternet Satış
                                    </p>

                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Kasa" class="nav-link @(Context.Request.Path.Value == "/Kasa"  ? " bg-blue" : "" )">
                                    <i class="far fa fa-cash-register nav-icon"></i>
                                    <p>
                                        Kasa
                                    </p>

                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/AktifKullanicilar" class="nav-link @(Context.Request.Path.Value == "/AktifKullanicilar"  ? " bg-blue" : "" )">
                                    <i class="fas fa-signal nav-icon"></i>
                                    <p class="text">Aktif Kullanıcılar</p>
                                </a>
                            </li>

                        </ul>

                    </li>
                    <!--HotSpotMenü End-->






                    @if (ViewBag.PermissionEnum == PermissionEnum.Admin)
                    {



                        <!--AyarlarMenü Start-->
                        <li class="nav-item @(Context.Request.Path.Value == "/Ayarlar" || Context.Request.Path.Value == "/Tarifeler" || Context.Request.Path.Value == "/Kullanicilar"  ? " menu-open" : "" )">
                            <a href="#" class="nav-link ">
                                <i class="text-cyan nav-icon fas fa-cogs"></i>
                                <p>
                                    Ayarlar
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview" style="@(Context.Request.Path.Value == "/Ayarlar" || Context.Request.Path.Value == "/Tarifeler" || Context.Request.Path.Value == "/Kullanicilar"  ? "display: block;" : "display: none;" ) ">


                                <li class="nav-item">
                                    <a href="/Ayarlar" class="nav-link @(Context.Request.Path.Value == "/Ayarlar"  ? " bg-blue" : "" )">
                                        <i class="far fa fa-cubes nav-icon"></i>
                                        <p>
                                            Genel Ayarlar
                                        </p>

                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Tarifeler" class="nav-link @(Context.Request.Path.Value == "/Tarifeler"  ? " bg-blue" : "" )">
                                        <i class="far fa fa-lira-sign nav-icon"></i>
                                        <p>
                                            Tarife Ayarları
                                        </p>

                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="/HotSpotAyar" class="nav-link @(Context.Request.Path.Value == "/HotSpotAyar"  ? " bg-blue" : "" )">
                                        <i class="far fa fa-lira-sign nav-icon"></i>
                                        <p>
                                            HotSpot Ayarları
                                        </p>

                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Kullanicilar" class="nav-link @(Context.Request.Path.Value == "/Kullanicilar"  ? " bg-blue" : "" )">
                                        <i class="far fa fa-user nav-icon"></i>
                                        <p>
                                            Kullanıcılar

                                        </p>

                                    </a>
                                </li>

                            </ul>

                        </li>
                        <!--AyarlarMenü End-->


                        <!--CrmMenü Start-->
                        <li class="nav-item @(Context.Request.Path.Value == "/" || Context.Request.Path.Value == "/Kasa" || Context.Request.Path.Value == "/InternetSatis" || Context.Request.Path.Value == "/AktifKullanicilar" ? "menu-open" : "" )">
                            <a href="#" class="nav-link">
                                <i class="text-blue nav-icon fas fa-pager"></i>
                                <p>
                                    Crm
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview" style="@(Context.Request.Path.Value == "/" || Context.Request.Path.Value == "/Kasa" || Context.Request.Path.Value == "/InternetSatis" || Context.Request.Path.Value == "/AktifKullanicilar" ? "display:block;" : "display:none;" )">

                            

                            </ul>

                        </li>
                        <!--CrmMenü End-->

                    }

                    <li class="nav-item">
                        <a href="/LisansBilgileri" class="nav-link @(Context.Request.Path.Value == "/LisansBilgileri"  ? " bg-blue" : "" )">
                            <i class="text-olive far fa fa-hourglass-half nav-icon"></i>
                            <p>
                                Lisans Bilgileri
                            </p>

                        </a>
                    </li>



                }
                else
                {
                    <li class="nav-item">
                        <a href="/Firmalar" class="nav-link">
                            <i class="far fa fa-user nav-icon"></i>
                            <p>
                                Firmalar
                            </p>
                        </a>
                    </li>
                }



                <li class="nav-item">
                    <a href="#" id="BtnSignOut" class="nav-link">
                        <i class="text-red fas fa-sign-out-alt nav-icon"></i>
                        <p class="text">Çıkış</p>
                    </a>
                </li>















                <!--<li class="nav-item">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa fa-cog"></i>
        <p>
            Yönetim
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/OtelBilgi" class="nav-link">
                <i class="far fa fa-hotel nav-icon"></i>
                <p>
                    Otel Bilgileri
                    <i class="right fas fa-info-circle"></i>
                </p>

            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active">
                <i class="far fa fa-ticket-alt nav-icon"></i>
                <p>
                    Temel Tanımlar
                    <i class="right fas fa-angle-left"></i>
                </p>

            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa fa-door-open nav-icon"></i>
                        <p>
                            Oda Tanımları
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Binalar" class="nav-link">
                                <i class="far  fa fa-hotel nav-icon"></i>
                                <p>Binalar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/YatakTipi" class="nav-link">
                                <i class="far fa fa-bed nav-icon"></i>
                                <p>Yatak Tipleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/OdaKonumlari" class="nav-link">
                                <i class="far fa fa-compass nav-icon"></i>
                                <p>Konum Tanımları</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/OdaTipi" class="nav-link">
                                <i class="far fa fa-border-style nav-icon"></i>
                                <p>Oda Tipleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Odalar" class="nav-link">
                                <i class="far fa fa-cubes nav-icon"></i>
                                <p>Odaları Oluştur</p>
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>

            <ul class="nav nav-treeview">

                <li class="nav-header">Gelir Tanımları</li>
                <li class="nav-item">
                    <a href="/DepartmanGruplari" class="nav-link">
                        <i class="far  fa fa-grip-vertical nav-icon"></i>
                        <p>Departman Grupları</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/GelirGruplari" class="nav-link">
                        <i class="far  fa fa-money-check-alt nav-icon"></i>
                        <p>Gelir Grupları</p>
                    </a>
                </li>

                <li class="nav-header">Diğer Tanımlar</li>
                <li class="nav-item">
                    <a href="/User" class="nav-link">
                        <i class="far  fa fa-users nav-icon"></i>
                        <p>Kullanıcı Tanımları</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Market" class="nav-link">
                        <i class="far  fa fa-globe nav-icon"></i>
                        <p>Market Tanımları</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/PanTipi" class="nav-link">
                        <i class="far  fa fa-utensils nav-icon"></i>
                        <p>Pansiyon Tipleri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Doviz" class="nav-link">
                        <i class="far  fa fa-money-bill-wave nav-icon"></i>
                        <p>Döviz Tanımları</p>
                    </a>
                </li>



            </ul>

        </li>-->
                @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page</p>
            </a>
        </li>*@
                <!--</ul>

                <!--<ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="#" class="nav-link active">
            <i class="far fa fa-swatchbook nav-icon"></i>
            <p>
                Diğer Tanımlar
                <i class="right fas fa-angle-left"></i>
            </p>

        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/PanTipi" class="nav-link">
                    <i class="far  fa fa-utensils nav-icon"></i>
                    <p>Pansiyon Tipleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Doviz" class="nav-link">
                    <i class="far  fa fa-money-bill-wave nav-icon"></i>
                    <p>Döviz Tanımları</p>
                </a>
            </li>


        </ul>

    </li>-->
                <!--@*<li class="nav-item">
        <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Inactive Page</p>
        </a>
    </li>*@-->
                <!--</ul>-->
                <!--</li>-->
                @*<li class="nav-item">
            <a href="#" class="nav-link active">
                <i class="nav-icon fa fa-tags"></i>
                <p>
                    Acente ve Fiyat
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Acenta" class="nav-link">
                        <i class="fa fa-money-check nav-icon"></i>
                        <p>Acentalar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-money-bill nav-icon"></i>
                        <p>Kontrat ve Fiyatlar</p>
                    </a>
                </li>
            </ul>
        </li>*@
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


